site_name: Kafkify

theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: fontawesome/solid/k
  features:
    - toc.integrate
    - search.suggest
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: indigo
      accent: deep orange

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: indigo
      accent: deep orange

nav:
  - Home: index.md
  - User Guide:
    - Consumer: consumer.md
    - Producer: producer.md
  - Examples:
    - Consumer Example: examples/consumer.md
    - Producer Example: examples/producer.md

plugins:
  - mkdocstrings
  - search

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  # version:
  #   provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/KishinNext
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/wilmermelgarejo/
    - icon: fontawesome/brands/medium-m
      link: https://medium.com/@biohazerimperion

repo_url: https://github.com/KishinNext/kafkify
copyright: Copyright & copy; 2026 Kafkify by KishinNext. All rights reserved.
